@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');



body {
  font-family: 'Poppins', sans-serif;
}


.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #25d366;
  color: white;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 999;
}

.whatsapp-options {
  position: fixed;
  bottom: 90px;
  right: 20px;
  background: white;
  color: black;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  width: 260px;
}

.whatsapp-option-btn {
  display: block;
  width: 100%;
  padding: 8px 10px;
  margin-bottom: 6px;
  background: #f1f1f1;
  border: none;
  border-radius: 6px;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
}

.whatsapp-option-btn:hover {
  background: #25d366;
  color: white;
}
